@tailwind base;
@tailwind components;
@tailwind utilities;


/* In your styles.css or Tailwind's @layer if using Tailwind */
@keyframes revealText {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.reveal-text {
  animation: revealText 1.2s ease-out forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
